[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=WhatsApp
Exec=omarchy-launch-webapp https://web.whatsapp.com/ --default-profile="Default"
Terminal=false
Type=Application
Icon=/home/pablo/.local/share/applications/icons/WhatsApp.png
StartupNotify=true
